@model AspnetCoreMvcFull.Models.RoutePlan

@{
    ViewData["Title"] = "Delete Route";
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card border-danger">
                <div class="card-header bg-danger text-white">
                    <h4 class="card-title mb-0">Delete Route</h4>
                </div>
                <div class="card-body">
                    <div class="alert alert-warning">
                        <i class="fas fa-exclamation-triangle"></i>
                        <strong>Warning!</strong> Are you sure you want to delete this route? This action cannot be undone.
                    </div>

                    <dl class="row">
                        <dt class="col-sm-3">Name:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>

                        <dt class="col-sm-3">Description:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Description)</dd>

                        <dt class="col-sm-3">Duration:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.ExpectedDurationMinutes) minutes</dd>

                        <dt class="col-sm-3">Bins Count:</dt>
                        <dd class="col-sm-9">@Model.RouteBins.Count bins</dd>

                        <dt class="col-sm-3">Created:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.CreatedAt)</dd>

                        <dt class="col-sm-3">Updated:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.UpdatedAt)</dd>
                    </dl>

                    @if (Model.RouteBins.Any())
                    {
                        <div class="alert alert-info">
                            <strong>Note:</strong> This route contains @Model.RouteBins.Count bin(s). All associated route-bin relationships will also be deleted.
                        </div>
                    }

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <div class="d-flex justify-content-between">
                            <a asp-action="Index" class="btn btn-secondary">
                                <i class="fas fa-arrow-left"></i> Back to List
                            </a>
                            <button type="submit" class="btn btn-danger">
                                <i class="fas fa-trash"></i> Delete Route
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

