@await Html.PartialAsync("Sections/_Variables")

@{
	TempData.Keep();
	Layout = "_CommonMasterLayout";

	ViewData["contentNavbar"] = true;

	// Display elements default to true or false
	bool isNavbar = ViewData["isNavbar"] as bool? ?? true;
	bool isMenu = ViewData["isMenu"] as bool? ?? true;
	bool isFlex = ViewData["isFlex"] as bool? ?? false;
	bool isFooter = ViewData["isFooter"] as bool? ?? true;

	ViewData["navbarDetached"] = ViewData["navbarDetached"] ?? "navbar-detached";

	string container = ViewData["container"] as string ?? "container-xxl";
	string containerNav = ViewData["containerNav"] as string ?? "container-xxl";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>@ViewData["Title"] - My App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	@* Render Vendor styles section here *@
	@RenderSection("VendorStyles", required: false)

	@* Render Page styles section here *@
	@RenderSection("PageStyles", required: false)
</head>
<body>

	<div class='layout-wrapper layout-content-navbar @(isMenu ? "" : "layout-without-menu")'>
		<div class='layout-container'>

			@if (isMenu)
			{
				@await Html.PartialAsync("Sections/Menu/_VerticalMenu")
			}

			<!-- Layout page -->
			<div class="layout-page">
				<!-- Navbar -->
				@if (isNavbar)
				{
					@await Html.PartialAsync("Sections/Navbar/_Navbar")
				}
				<!-- / Navbar -->
				<!-- Content wrapper -->
				<div class="content-wrapper">

					<!-- Content -->
					<div class='@container @(isFlex ? "d-flex align-items-stretch flex-grow-1 p-0" : "flex-grow-1 container-p-y")'>
						@RenderBody()
					</div>
					<!-- / Content -->
					<!-- Footer -->
					@if (isFooter)
					{
						@await Html.PartialAsync("Sections/Footer/_Footer")
					}
					<!-- / Footer -->

					<div class="content-backdrop fade"></div>
				</div>
				<!--/ Content wrapper -->
			</div>
			<!-- / Layout page -->
		</div>

		<!-- Overlay -->
		@if (isMenu)
		{
			<div class="layout-overlay layout-menu-toggle"></div>
		}
		<!-- Drag Target Area To SlideIn Menu On Small Screens -->
		<div class="drag-target"></div>
	</div>

	@* Render Vendor Scripts just before closing body *@
	@RenderSection("VendorScripts", required: false)

	@* Render Page Scripts just before closing body *@
	@RenderSection("PageScripts", required: false)

	@* Render Scripts section (e.g. for validation scripts) *@
	@RenderSection("Scripts", required: false)

</body>
</html>
